body {
    background-color: #0f0094;
    color: rgb(255, 255, 255);
    font-family: "Bai Jamjuree", sans-serif;
    
}

button {
     background-color: #00ffff;
      color: rgb(255, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
}

